
.inicio{
    background-image: url("../Imagens/hamburguer.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    width: auto;
    height: 85vh;
    text-shadow: black
}

.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    text-shadow: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2vh;
}

.navbar-light .navbar-toggler{
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .1);
}

.navbar-toggler{
    z-index: 1000;
    filter: invert(1 );
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.saudacoes{
    padding-top: 30vh;
}

.bg-t{
    background-color: transparent;
}

.text-center{
    text-align: center!important;
}

@media (min-width: 768px)
.container {
    max-width: 720px;
}

@media (min-width: 576px)
.container {
    max-width: 540px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.text {
    font-family: 'Asar', serif;
    font-style: normal;
}

.text-center {
    text-align: center!important;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

img {
    vertical-align: middle;
    border-style: none;
}

.Rbutton {
    width: 140px;
    height: 140px;
    background-color: rgb(255, 196, 0) !important;
}

.rounded-circle {
    border-radius: 50%!important;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



